.koi_fish_form_wrapper {
  display: flex;
  justify-content: space-between; 
  padding: 20px;
}

.koi_fish_form_container {
  flex: 1;
  margin-right: 40px; 
}

.summary {
  flex: 0.5; 
  background-color: #f0f0f0; 
  padding: 20px;
  border: 2px solid #4a90e2; /* Tạo khung với màu xanh lam nhạt */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  margin-left: auto; 
  margin-right: auto; 
  max-width: 400px; 
  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    font-size: 16px;
    color: #555;
    line-height: 1.6;
  }

  h3 {
    color: #333;
    margin-bottom: 15px;
  }

  p, ul, li {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
  }

  ul {
    padding-left: 20px;
    list-style: disc;
  }
}

.total_cost {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #d9534f;
}

button {
  margin-top: 20px;
}
.payment_button {
  margin-top: 20px;
  background-color: #28a745; /* Màu xanh cho nút thanh toán */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #218838; /* Màu khi hover */
  }
}
