/* index.scss - Styling for Header component */

.header {
  position: fixed; /* Đặt header cố định */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Giảm padding để thanh điều hướng nhỏ lại */
  background-color: #333;

  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}



.header__logo img {
  width: 50px; /* Giảm kích thước logo */
}

.header__nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header__nav ul li {
  display: inline-block;
}

.header__nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px; /* Giảm font size */
  padding: 10px 15px; /* Giảm padding để thu nhỏ các mục trong điều hướng */
}

.header__nav ul li a:hover {
  color: #ff6600;
}
